<form role="form" action="{{ phpSelf }}" method="post">
    <div class="row">
        <div class="col-8">
            <div class="form-group row">
            <label for="articleTitle" class="col-sm-3 col-form-label">Title :</label>  <div class="col-sm-9">
            <input class="form-control" type="text" class="form-control" id="articleTitle" name="title" value="
            {% if article  is defined %}
{{ article.title }}
{% endif %}
">
            </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group row">
            <label class="col col-form-label" for="articleID">Article id: </label>  <div class="col-10">
            <input type="text" creadonly class="form-control-plaintext" id="articleID" name="id" value="
                        {% if article  is defined %}
{{ article.id }}
{% endif %}
">
                </div>
            </div>
        </div>

    </div>



    <div class="form-group">
        <label for="bodyText">Body</label>
        <textarea name="body" class="form-control" id="bodyText" rows="10">
                        {% if article  is defined %}
            {{ article.body }}
            {% endif %}
        </textarea>
    </div>
    <input type="file" name="imageToUpload" id="imageUpload">
    <button name="{%if article  is defined%}{{"editArticle"}}{%else%}{{"createArticle"}}{% endif %}" type="submit" class="btn btn-primary">Save changes</button>
</form>