<form role="form" action="{{ phpSelf }}" method="post" >
    <div class="row">
        <div class="col-8">
            <div class="form-group row">
                <label for="categoryName" class="col-sm-3 col-form-label">Title :</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" class="form-control" id="categoryName" name="categoryName"
                           value="{{  category ? category.category_name }}">
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group row">
                <label class="col col-form-label" for="categoryID">Category id: </label>
                <div class="col-9">
{#                    if category is set, print the id else print nothing#}
                    <input type="text" readonly class="form-control-plaintext" id="categoryID" name="id" value="{{  category ? category.id }}">
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group row">
                <label for="categoryVisibility" class="col-sm-3 col-form-label">Visibility :</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" class="form-control" id="categoryVisibility" name="categoryVisibility"
                           value="{{  category ? category.visibility }}">
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group row">
                <label class="col col-form-label" for="categoryOrder">Order : </label>
                <div class="col-9">
                    {#                    if category is set, print the id else print nothing#}
                    <input type="text" class="form-control-plaintext" id="categoryOrder" name="categoryOrder" value="{{  category ? category.ordering }}">
                </div>
            </div>
        </div>

    </div>

    <button name='{{  category ? "editCategory" : "createCategory" }}'
            type="submit" class="btn btn-primary">Save changes
    </button>
</form>

