<form role="form" action="{{ phpSelf }}" method="post" >
    <div class="form-group">
        <label for="siteName">Site name</label>
        <textarea class="form-control" id="siteName" rows="1">{{ properties[3].value }}</textarea>
    </div>
    <div class="form-group">
        <label for="siteSlogan">Slogan</label>
        <textarea class="form-control" id="siteSlogan" rows="1">{{ properties[6].value }}</textarea>
        <small id="sloganHelp" class="form-text text-muted">Something small but memorable</small>
    </div>
    <div class="form-group">
        <label for="siteColor">Site color</label>
        <input name="colorpicker" id="siteColor" type="color" value="{{properties[4].value }}">
{#        <textarea class="form-control" id="siteColor" rows="1">{{ properties[4].value }}</textarea>#}
        <small id="colorHelp" class="form-text text-muted">Be creative!</small>
    </div>
    <div class="form-group">
        <label for="logoToUpload">Logo</label>
        <input type="file" name="logoToUpload" id="logoToUpload">
        <small id="colorHelp" class="form-text text-muted">150*100px recommended</small>
    </div>
    <div class="form-group">
        <label for="contactMail">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="{{ properties[2].value }}">
        <small id="nameHelp" class="form-text text-muted">it will be displayed as contact information a the footer</small>
    </div>
    <div class="form-group">
        <label for="contactMail">Address</label>
        <textarea class="form-control" id="contactMail" rows="1">{{ properties[7].value }}</textarea>
        <small id="nameHelp" class="form-text text-muted">it will be displayed as contact information a the footer</small>
    </div>

    <div class="form-group">
        <label for="twitter">Twitter</label>
        <textarea class="form-control" id="twitter" rows="1">{{ properties[8].value }}</textarea>
        <input class="form-check-input" type="checkbox" id="twitterCheckbox" value="option1"
                {% if properties[8].visibility == 1 %} checked {% endif %}>
        <label class="form-check-label" for="twitterCheckbox">Visible</label>
    </div>

    <div class="form-group">
        <label for="facebook">Facebook</label>
        <textarea class="form-control" id="facebook" rows="1">{{ properties[0].value }}</textarea>
        <input class="form-check-input" type="checkbox" id="facebookCheckBox" value="option1"
                {% if properties[0].visibility == 1 %} checked {% endif %}>
        <label class="form-check-label" for="facebookCheckBox">Visible</label>
    </div>

    <div class="form-group">
        <label for="instagram">Instagram</label>
        <textarea class="form-control" id="instagram" rows="1">{{ properties[1].value }}</textarea>
        <input class="form-check-input" type="checkbox" id="instagramCheckBox" value="option1"
                {% if properties[1].visibility == 1 %} checked {% endif %}>
        <label class="form-check-label" for="instagramCheckBox">Visible</label>
    </div>
    <button name='editProperties'
            type="submit" class="btn btn-primary">Save changes
    </button>
</form>

<script>
    function fileValidation() {
        let imageUpload = document.getElementById('imageUpload');

        let filePath = imageUpload.value;

        // allowed file type
        let allowedExtensions = /(\.jpg|\.svg|\.png|\.jpeg|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            imageUpload.value = '';
            return false;
        }
    }
</script>
