{# in order to access the vairables outside the loop, they have to be initialiseb beforehand #}
{% set facebook='' %}
{% set instagram='' %}
{% set twitter='' %}
{% set email='' %}
{% set siteColor='' %}
{% set address='' %}
{% set phone='' %}
{% set siteInfo='' %}
{% for item in footerItems %}
    {% if item.key == 'Facebook' %}
        {% set facebook = item.value %}
    {% elseif item.key =='Instagram' %}
        {% set instagram = item.value %}
    {% elseif item.key =='Twitter' %}
        {% set twitter = item.value %}
    {% elseif item.key =='email' %}
        {% set email = item.value %}
    {% elseif item.key =='site_color' %}
        {% set siteColor = item.value %}
    {% elseif item.key =='address' %}
        {% set address = item.value %}
    {% elseif item.key =='phone' %}
        {% set phone = item.value %}
    {% elseif item.key =='site_info' %}
        {% set siteInfo = item.value %}
    {% endif %}
{% endfor %}
<div class="mt-5 pt-5 pb-5 footer" style="background: {{ siteColor }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                {#                <h2>Heading</h2> #}
                {% if siteInfo is defined %}
                    <p class="pr-5 text-white-50">{{ siteInfo }}</p>
                {% endif %}
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Find us at</h4>
                    {% if facebook is defined %}
                        <p><i class="ri-facebook-box-line"></i><a href="{{ facebook }}" class="link-no-blue"> Facebook</a></p>
                    {% endif %}
                    {% if instagram is defined %}
                        <p><i class="ri-instagram-line"></i><a href="{{ instagram }}" class="link-no-blue"> Instagram</a></p>
                    {% endif %}
                    {% if item.key =='Twitter' %}
                        <p><i class="ri-twitter-line"></i><a href="{{ twitter }}" class="link-no-blue"> Twitter</a></p>
                    {% endif %}

            </div>
            <div class="col-lg-4 col-xs-12 location">
                {% if address is defined %}
                <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                <p><i class="ri-map-pin-line"></i> {{ address }}</p>
                {% endif %}
                {% if phone is defined %}
                    <p> <i class="ri-phone-line"></i> {{ phone }}</p>
                {% endif %}
                {% if email is defined %}<p><i class="ri-mail-line"></i> {{ email }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                {#                automatically update the copyright date #}
                <p class=""><small class="text-white-50">© {{ "now"|date("Y") }}. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>