<header>
    <div class="bg-warning py-2">
        <div class="container">
            Some top header info
        </div>
    </div>

    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Brand</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">

                <ul class="navbar-nav ms-auto">
                    {% set break = false %}
{#                    if break is true, stop the for loop#}
                    {% for key,item in menuItems if not break%}
                    <li class="nav-item"><a class="nav-link" href="index.php?categoryName={{ item['category_name'] }}"> {{ item['category_name']}} </a></li>
                        {% if key > 9 %}
                            {#limit the menu to 10 items#}
                            {% set break = true %}
                        {% endif %}
                    {% endfor %}
{#                    if the username is set, the user is loged in and can see relative information#}
                    {% if username != null %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Hi {{ username}}  </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"> My profile</a></li>
                            <form role="form" action="{{ phpSelf }}" method="post">
                            <button name="logOut" type="submit" class="btn btn-primary">Log out</button>
                            <li><a class="dropdown-item" href="#"> id is {{ userID}} </a></li>
                            </form>
                            </ul>
                    </li>
{#                        else display the log in prompt#}
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/login.php"> Log in </a></li>
                    {% endif %}
                </ul>

            </div> <!-- navbar-collapse.// -->
        </div> <!-- container-fluid.// -->
    </nav>
</header>