{#in order to access the vairables outside the loop, they have to be initialiseb beforehand#}
{% set slogan='' %}
{% set name='' %}
{% set siteColor='' %}
{% set accentColor='' %}
{% set logoUri='' %}

{% for item in properties %}

    {% if item.key == 'site_slogan' %}
        {% set slogan = item.value %}
    {% elseif item.key =='site_name' %}
        {% set name = item.value %}
    {% elseif item.key =='site_color' %}
        {% set siteColor = item.value %}
    {% elseif item.key =='accent_color' %}
        {% set accentColor = item.value %}
    {% elseif item.key =='site_logo' %}
        {% set logoUri = item.value %}
    {% endif %}
{% endfor %}
<header>
    <div class="bg-warning py-2" style="background: {{ accentColor }}!important;">
        <div class="container">
            {{ slogan }}
        </div>
    </div>
{#bootstrap allready implements the "!important" css option, so in order to overwrite it, it must be implemented again#}
    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary" style="background: {{ siteColor }}!important">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/assets/images/{{ logoUri}}" alt="{{ name }}" style="height: 60px;"/> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">

                <ul class="navbar-nav ms-auto">
                    {% set break = false %}
                    {#limit the menu to 10 items#}
                    {% for item in menuItems|slice(0, 9)%}
                    <li class="nav-item">
                        <a class="nav-link" href="category?c={{ item['category_name'] }}"> {{ item['category_name']}} </a>
                    </li>
                    {% endfor %}
{#                    if the username is set, the user is loged in and can see relative information#}
                    {% if username != null %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Hi {{ username}}  </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"> My profile</a></li>
                            <form role="form" action="{{ phpSelf }}" method="post">
                            <button name="logOut" type="submit" class="btn btn-primary">Log out</button>
                            <li><a class="dropdown-item" href="#"> id is {{ userID}} </a></li>
                            </form>
                            </ul>
                    </li>
{#                        else display the log in prompt#}
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/login.php"> Log in </a></li>
                    {% endif %}
                </ul>

            </div> <!-- navbar-collapse.// -->
        </div> <!-- container-fluid.// -->
    </nav>
</header>