{% set i =0 %}
<div class="col-12" id="main-content">
    <div class="recomended-box row">
        <div class="promoted-header col-2"><h3>Latest news</h3></div>
        <hr class="news-reading col" style="background-color:{{ site_color }}">
    </div>
    {% for article in articles %}
        <div class="row">
            {#    display the image #}

            <img src="../assets/images/{{ article['header_image'] }}" class="header-image pointer pb-1"/>
            {#    send the GET to article.php so it can be retrieved by the database #}
            <h2 class="mb-1">
                <a href="article?id={{ article['id'] }}">
                    {{ article['title'] }} </a>
            </h2>
            <span class="mb-4">
                {{ article['body']|split('.')[0] }}.
                    <span class="readMore">
                    <a href="article?id={{ article['id'] }}">Read more</a>
        </span>

                {#                {{ article['body']|length >200? article['body']|truncate(150,true,"readMore"|raw) : article['body']  }} #}
            </span>
        </div>

    {% endfor %}
</div>

<script>
    document.querySelectorAll(".header-image")[0].addEventListener('click', () => {
        window.location = "article?id={{ articles[0]['id'] }}";
    });
    document.querySelectorAll(".header-image")[1].addEventListener('click', () => {
        window.location = "article?id={{ articles[1]['id'] }}";
    });
    document.querySelectorAll(".header-image")[2].addEventListener('click', () => {
        window.location = "article?id={{ articles[2]['id'] }}";
    });
    document.querySelectorAll(".header-image")[3].addEventListener('click', () => {
        window.location = "article?id={{ articles[3]['id'] }}";
    });
    document.querySelectorAll(".header-image")[4].addEventListener('click', () => {
        window.location = "article?id={{ articles[4]['id'] }}";
    });
    document.querySelectorAll(".header-image")[5].addEventListener('click', () => {
        window.location = "article?id={{ articles[5]['id'] }}";
    });
    document.querySelectorAll(".header-image")[6].addEventListener('click', () => {
        window.location = "article?id={{ articles[6]['id'] }}";
    });
    document.querySelectorAll(".header-image")[7].addEventListener('click', () => {
        window.location = "article?id={{ articles[7]['id'] }}";
    });
    document.querySelectorAll(".header-image")[8].addEventListener('click', () => {
        window.location = "article?id={{ articles[8]['id'] }}";
    });
    document.querySelectorAll(".header-image")[9].addEventListener('click', () => {
        window.location = "article?id={{ articles[9]['id'] }}";
    });

</script>